/* 
0-600px phone
600-900 tablet
900-1200 landscape
1200-1800
1800+    big desktop
*/
/*
breakpoint argument choices
{phone | tab-port | tab-land | big-desktop}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  color: #777; }
  @media (max-width: 75em) {
    html {
      font-size: 56.5%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rotate360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease;
    /* animation-delay: 1s; */ }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: rotate360;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: 0.5rem;
        font-family: 5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #1b7eff, #0730e4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: skewY(10deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mt-8 {
  margin-top: 8rem !important; }

.u-mb-sm {
  margin-bottom: 1.2rem !important; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 200px;
  transition: all 0.2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-blue {
  background-color: #1b7eff;
  color: #fff; }
  .btn-blue::after {
    background-color: #1b7eff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0c68f1;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  border-bottom: 1px solid #0c68f1;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #0c68f1;
  color: cyan;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active, .btn-text:focus {
  outline: none;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.3s;
    z-index: 10;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33%;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); } }
    .composition__photo:hover {
      outline: 0.5rem solid #0c68f1;
      transform: scale(1.3);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: 1rem;
          transform: scale(1.1); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8);
    z-index: 0; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(27, 126, 255, 0.7), rgba(7, 48, 228, 0.2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.12); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    transition: all 0.8s ease;
    height: 50rem;
    color: white;
    font-size: 2rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: cyan; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #1b7eff, #0730e4); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture-1 {
      background-image: url(../../img/vein_stare.jfif), linear-gradient(to right bottom, #0730e4, #1b7eff); }
    .card__picture-2 {
      background-image: url(../../img/vein_white_belly.jfif), linear-gradient(to right bottom, #ff7730, #ffb900); }
    .card__picture-3 {
      background-image: url(../../img/vein_lolipop.jfif), linear-gradient(to right bottom, #5643fa, #2998ff); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 0;
    text-align: right; }
  .card__heading--span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 119, 48, 0.85), rgba(255, 119, 48, 0.7)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.85), rgba(86, 67, 250, 0.7)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 119, 48, 0.85), rgba(255, 119, 48, 0.7)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    text-align: center;
    margin-bottom: 4rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: cyan;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        color: white;
        overflow: hidden;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem  3rem 3rem 3rem; }
      .card__price-box {
        text-align: center;
        margin-bottom: 2rem;
        color: #fff; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 100; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  padding-left: 9rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding-left: 6rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story_shape {
    position: relative;
    width: 13rem;
    height: 13rem;
    float: left;
    z-index: 10;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 56.25em) {
      .story_shape {
        width: 8rem;
        height: 8rem; } }
    @media (max-width: 56.25em) {
      .story_shape {
        transform: translateX(-3rem) skewX(12deg); } }
    @media (max-width: 37.5em) {
      .story_shape {
        transform: translateX(-2rem) skewX(0); } }
  .story_img {
    height: 100%;
    transform: translateX(-5rem) scale(1.1);
    transition: transform 0.2s; }
    @media (max-width: 56.25em) {
      .story_img {
        transform: translateX(-3rem) scale(1.1); } }
  .story_text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story_text {
        transform: skewX(0); } }
  .story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    transition: all 0.5s; }
  .story_shape:hover .story_caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story_shape:hover .story_img {
    transform: translateX(-5rem) scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
  opacity: .2;
  overflow: hidden; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form_input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: border-bottom 0.3s; }
  @media (max-width: 56.25em) {
    .form_input {
      width: 100%; } }
  .form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #0c68f1; }
  .form_input:invalid:focus {
    border-bottom: 3px solid red; }
  .form_input::-webkit-input-placeholder {
    color: #999; }

.form_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form_radio-group {
  display: inline-block;
  width: 49.5%; }
  @media (max-width: 56.25em) {
    .form_radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form_radio-input {
  display: none; }

.form_radio-input:checked + .form_radio-label .form_radio-button::after {
  opacity: 1; }

.form_radio-label {
  position: relative;
  font-size: inherit;
  cursor: pointer;
  padding-left: 3rem; }

.form_radio-button {
  z-index: 2;
  height: 2rem;
  width: 2rem;
  border: 5px solid #0c68f1;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.2rem; }
  .form_radio-button::after {
    transition: opacity 0.2s;
    content: "";
    opacity: 0;
    background-color: #0c68f1;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  background-color: #333;
  padding: 10rem 1rem;
  font-size: 1rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer_logo-box {
        margin-bottom: 3rem; } }
  .footer_logo {
    width: 10rem;
    height: auto; }
  .footer_navigation {
    border-top: 1px solid #f7f7f7;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s; }
  .footer_link:hover, .footer_link:active {
    color: #0c68f1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(15deg); }
  .footer_copyright {
    width: 70%;
    float: right;
    border-top: 1px solid #f7f7f7; }
    @media (max-width: 56.25em) {
      .footer_copyright {
        width: 100%;
        float: none; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_close:link, .popup_close:visited {
    color: #777;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
  .popup_close:hover {
    color: #0c68f1; }
  .popup:target .popup_content {
    transform: translate(-50%, -50%) scale(1); }
  .popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 3px;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    transition: all .4s;
    transform: translate(-50%, -50%) scale(0.5); }
  .popup_left {
    width: 33.33%;
    display: table-cell; }
  .popup_right {
    width: 66.667%;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem 2rem; }
  .popup_img {
    display: block;
    width: 100%; }
  .popup_text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    -moz-column-count: 2;
    column-count: 2;
    column-rule: 1px solid #1b7eff;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 2rem;
  margin-top: -25vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 23rem 1rem; } }

.section-features {
  padding: 20rem 15px;
  background-image: linear-gradient(to right bottom, rgba(7, 48, 228, 0.7), rgba(27, 126, 255, 0.3)), url(../../img/anubifur.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-10deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(10deg); }

.section-tours {
  padding: 15rem 2rem; }

.section-stories {
  position: relative;
  padding: 15rem 2rem; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 1rem 2rem;
  background-image: linear-gradient(to right bottom, #1b7eff, #0730e4); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/vein_come.jfif);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../img/vein_come.jfif); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%), url(../../img/vein_come.jfif); } }
  .book_form {
    width: 50%;
    padding: 3rem; }
    @media (max-width: 75em) {
      .book_form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book_form {
        width: 100%; } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(27, 126, 255, 0.7), rgba(7, 48, 228, 0.4)), url(../img/freewolffur.bmp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%); }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); } }

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.logo {
  height: 3.5rem; }

.logo:hover {
  animation-name: rotate360;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation_background {
  z-index: 999;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#1b7eff, #0730e4);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation_background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation_background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation_checkbox {
  display: none; }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(50); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_button {
  cursor: pointer;
  background-color: white;
  text-align: center;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1999;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 56.25em) {
    .navigation_button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation_button {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation_nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: lower-roman;
  width: 100%; }

.navigation_item {
  padding-bottom: 1.5rem; }

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
  transform: translateX(0); }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: #0730e4;
  transform: translateX(1rem); }

.navigation_icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    transition: all 0.3s;
    position: absolute;
    left: 0; }
  .navigation_icon::before {
    top: -1rem; }
  .navigation_icon::after {
    top: 1rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1.3rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1.3rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(225deg); }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row:not(:last-child) {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .row:not(:last-child) {
      margin-bottom: 6rem; } }

@media (max-width: 56.25em) {
  .row {
    max-width: 85%;
    padding: 0 3rem; } }

.row [class^="col-"] {
  float: left;
  padding: 1rem; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 2rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row [class^="col-"] {
      width: 100% !important; } }

.row .col-1-of-2 {
  width: calc((100% - 2rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2rem * 2) / 3); }

.row .col-2-of-3 {
  width: calc( ((100% - 2rem* 2) / 3) * 2 + 2rem); }

.row .col-1-of-4 {
  width: calc((100% - 2rem* 3) / 4); }

.row .col-2-of-4 {
  width: calc( ((100% - 2rem* 3) / 4) * 2 + 2rem); }

.row .col-3-of-4 {
  width: calc( ((100% - 2rem* 3) / 4) * 3 + 2rem* 2); }
