.u-center-text{
    text-align: center !important;
}

.u-mb-8{
    margin-bottom: 8rem !important;
}

.u-mb-4{
    margin-bottom: 4rem !important;
}

.u-mt-8{
    margin-top: 8rem !important;
}


.u-mb-sm{
    margin-bottom: 1.2rem !important;
}